<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home • EventsManagerIO</title>
    <!-- Favicon-->
    <link href="icons/favicon.png" type="image/x-icon" rel="icon">
    <!-- Stylesheets-->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/custom.css" type="text/css" rel="stylesheet">
  </head>
  <!-- Body -->
  <body>
    <div class="jumbotron">
      <p>There is a rabbit in the big rabbit hole</p>
    </div>
  </body>
  <!-- Scripts -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
</html>