<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login • EventsManagerIO</title>
    <!-- Favicon-->
    <link href="icons/favicon.png" type="image/x-icon" rel="icon">
    <!-- Stylesheets-->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/custom.css" type="text/css" rel="stylesheet">
  </head>
  <!-- Body -->
  <body class="io-login-container"> 
    <div class="io-login-box"> 
      <div class="io-title">Log in to your account </div>
      <div class="io-input">
        <div class="io-input-group"><span class="io-icon">O</span>
          <input placeholder="Username" type="email"><span class="io-mark">✓</span>
        </div>
        <div class="io-input-group"><span class="io-icon">X</span>
          <input placeholder="Password" type="password" class="io-password"><span class="io-mark">✓</span>
        </div>
      </div>
      <div>
        <button id="signup-button" class="io-btn">LOG IN</button><span class="io-anchor io-forgot">Forgotten password?</span>
      </div>
      <div class="io-extra io-login"><span>Don't have an account? </span><a href="signup.html" class="io-anchor">register here </a></div>
    </div>
  </body>
  <!-- Scripts -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
</html>