<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register • EventsManagerIO</title>
    <!-- Favicon-->
    <link href="icons/favicon.png" type="image/x-icon" rel="icon">
    <!-- Stylesheets-->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/custom.css" type="text/css" rel="stylesheet">
  </head>
  <!-- Body -->
  <body class="io-login-container"> 
    <div class="io-login-box"> 
      <div class="io-title">Sign up for an account</div>
      <div class="io-input io-signup">
        <div class="io-input-group"><span class="io-icon">X</span>
          <input placeholder="Email" type="email"><span class="io-mark">✓</span>
        </div>
        <div class="io-input-group"><span class="io-icon">O</span>
          <input placeholder="Username" type="text"><span class="io-mark">✓</span>
        </div>
        <div class="io-input-group"><span class="io-icon">X</span>
          <input placeholder="Full Name" type="text"><span class="io-mark">✓</span>
        </div>
        <div class="io-input-group"><span class="io-icon">O</span>
          <input placeholder="Password" type="password" class="io-password"><span class="io-mark">✓</span>
        </div>
        <div class="io-input-group"><span class="io-icon">X</span>
          <input placeholder="Confirm Password" type="password" class="io-password"><span class="io-mark">✓</span>
        </div>
      </div>
      <div class="io-extra io-high">
        <!-- Implement checkbox-->
        <!-- div.checkbox-->
      </div>
      <div>
        <button id="login-button" class="io-btn io-signup">SIGN UP</button><span class="io-extra">Subscribe for newsletter</span>
      </div>
      <div class="io-extra io-signup"> <span>Already have an account? </span><a href="login.html" class="io-anchor">sign in here </a></div>
    </div>
  </body>
  <!-- Scripts -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
</html>