@font-face {
  font-family: quicksand;
  src: url(../fonts/quicksand-regular-webfont.woff); }
@font-face {
  font-family: kaushanscript;
  src: url(../fonts/kaushanscript-regular-webfont.woff); }
*:focus {
  outline-width: 0px; }

*:invalid {
  box-shadow: 0 0 3px transparent; }

button:focus {
  outline-width: 0px; }

html, body {
  height: 100%; }

body {
  font-family: quicksand; }

.io-login-container {
  background: linear-gradient(to bottom right, #9b40b5, #570572, #310149);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }

.io-login-box {
  width: 310px;
  height: 440px;
  background-color: #242835;
  border-top: 3px solid #AB47BC;
  border-radius: 7px 7px 0px 0px;
  color: #acb1be;
  box-shadow: 3px 5px 5px rgba(78, 84, 98, 0.4); }
  .io-login-box .io-title {
    margin-top: 75px;
    margin-left: 20px;
    font-size: 20px; }
  .io-login-box .io-input {
    border-bottom: 2px solid #393d52;
    margin-top: 35px;
    background-color: #32364a; }
    .io-login-box .io-input.io-signup {
      margin-top: 10px; }
    .io-login-box .io-input .io-input-group {
      display: flex;
      align-items: center;
      height: 40px;
      border-top: 2px solid #393d52; }
      .io-login-box .io-input .io-input-group input {
        background: none;
        color: #afb1be;
        caret-color: #afb1be;
        font-size: 15px;
        width: 250px;
        border: none; }
        .io-login-box .io-input .io-input-group input::-webkit-input-placeholder {
          color: #4e5462;
          text-overflow: ellipsis; }
        .io-login-box .io-input .io-input-group input:-moz-placeholder {
          color: #4e5462 !important;
          text-overflow: ellipsis; }
        .io-login-box .io-input .io-input-group input::-moz-placeholder {
          color: #4e5462 !important;
          text-overflow: ellipsis; }
        .io-login-box .io-input .io-input-group input:-ms-input-placeholder {
          color: #4e5462 !important;
          text-overflow: ellipsis; }
        .io-login-box .io-input .io-input-group input.io-password {
          color: #AB47BC;
          caret-color: #AB47BC; }
      .io-login-box .io-input .io-input-group .io-icon {
        display: inline-block;
        margin-left: 20px;
        margin-right: 5px;
        width: 20px; }
      .io-login-box .io-input .io-input-group .io-mark {
        margin-left: 10px;
        width: 30px; }

.io-btn {
  display: inline-block;
  background: none;
  border: 1.5px solid #AB47BC;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  font-size: 11px;
  color: #AB47BC;
  cursor: pointer; }
  .io-btn:hover {
    background: #AB47BC;
    color: white; }
  .io-btn.io-signup {
    margin-top: 10px; }

.io-anchor {
  font-size: 10px;
  color: #4e4f5f; }
  .io-anchor:hover {
    text-decoration: underline;
    cursor: pointer; }
  .io-anchor.io-forgot {
    margin-left: 20px; }

.io-extra {
  margin-left: 20px;
  font-size: 10px;
  color: #4e4f5f; }
  .io-extra.io-high {
    margin-top: 10px; }
  .io-extra.io-login {
    margin-top: 120px; }
  .io-extra.io-signup {
    margin-top: 25px; }

.io-navbar {
  width: 100%;
  height: 50px;
  background-color: purple;
  box-shadow: 0px 2px 2px rgba(78, 84, 98, 0.4);
  display: flex;
  align-items: center;
  z-index: 1; }
  .io-navbar.io-fixed-top {
    position: fixed;
    top: 0px; }
  .io-navbar .io-brand {
    width: 170px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;
    font-weight: 900; }
  .io-navbar .io-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 70%;
    background-color: yellow; }
    .io-navbar .io-middle .io-search-bar {
      width: 80%; }
    .io-navbar .io-middle .io-search-button {
      width: 35px;
      margin-left: 5px; }
  .io-navbar .io-end {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin-left: 10px;
    margin-right: 5px; }
    .io-navbar .io-end .io-icon {
      display: flex;
      justify-content: center;
      background-color: yellow;
      margin-left: 10px;
      width: 35px; }

.io-body-content {
  margin-top: 50px; }

.io-title-bar {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: 900;
  border-left: 3px solid #AB47BC; }

.io-center-banner .io-img {
  width: 100%;
  height: auto; }

.io-fab {
  border-radius: 50%;
  box-shadow: 1px 3px 3px rgba(78, 84, 98, 0.4);
  width: 50px;
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  bottom: 25px;
  right: 25px;
  cursor: pointer; }

.io-profile-card {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  background-color: chocolate; }
  .io-profile-card .io-img {
    border: 3px solid red;
    box-shadow: 0px 4px 5px rgba(78, 84, 98, 0.4);
    border-radius: 50%;
    width: 200px;
    position: relative;
    top: -30%;
    left: 5%; }

.io-center-card {
  width: 200px;
  height: 300px;
  background-color: purple; }

.io-event-card {
  width: 500px;
  height: 100px;
  background-color: purple; }

.io-modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .io-modal .io-modal-content {
    background-color: red;
    border: 2px solid green;
    margin: 50px auto;
    width: 400px;
    height: 450px; }

.io-col-center {
  display: flex;
  justify-content: center;
  width: 100%; }

.col-6.col-md-4.col-lg-3 {
  margin-top: 10px; }

.col-12.col-lg-6 {
  margin-top: 10px; }

.pagination {
  margin-top: 50px;
  cursor: pointer; }

@media only screen and (min-width: 615px) {
  .io-navbar .io-brand .io-img {
    display: none; }

  .col-6.col-md-4.col-lg-3 {
    display: flex;
    justify-content: center; }

  .col-12.col-lg-6 {
    display: flex;
    justify-content: center; } }
@media only screen and (max-width: 615px) {
  .io-navbar .io-brand {
    width: 50px;
    background-color: transparent; }
    .io-navbar .io-brand .io-text {
      display: none; }
    .io-navbar .io-brand .io-image {
      display: inline; }

  .io-body-content .io-sidebar-container {
    display: none; }
  .io-body-content .io-content {
    width: 100%; }

  .col-6.col-md-4.col-lg-3 {
    display: flex;
    justify-content: center; }

  .col-12.col-lg-6 {
    display: flex;
    justify-content: center; } }

/*# sourceMappingURL=custom.css.map */
